$componentName: "wil-new-element";
.fa-facebook {
  &:hover {
    color: var(--color-facebook) !important;
  }
}
.fa-dribbble {
  &:hover {
    color: var(--color-dribbble) !important;
  }
}
.fa-twitter {
  &:hover {
    color: var(--color-twitter) !important;
  }
}
.fa-instagram {
  &:hover {
    color: var(--color-instagram) !important;
  }
}
.fa-linkedin {
  &:hover {
    color: var(--color-linkedin) !important;
  }
}
.fa-youtube {
  &:hover {
    color: var(--color-youtube) !important;
  }
}
.fa-pinterest {
  &:hover {
    color: var(--color-pinterest) !important;
  }
}
.fa-behance {
  &:hover {
    color: var(--color-behance) !important;
  }
}
.fa-github {
  &:hover {
    color: var(--color-github) !important;
  }
}
.fa-vimeo {
  &:hover {
    color: var(--color-vimeo) !important;
  }
}
.fa-soundcloud {
  &:hover {
    color: var(--color-soundcloud) !important;
  }
}
.fa-tumblr {
  &:hover {
    color: var(--color-tumblr) !important;
  }
}
.fa-twitch {
  &:hover {
    color: var(--color-twitch) !important;
  }
}
.fa-vk {
  &:hover {
    color: var(--color-vk) !important;
  }
}
.fa-reddit {
  &:hover {
    color: var(--color-reddit) !important;
  }
}
.fa-medium {
  &:hover {
    color: var(--color-medium) !important;
  }
}
.fa-spotify {
  &:hover {
    color: var(--color-spotify) !important;
  }
}
.fa-discord {
  &:hover {
    color: var(--color-discord) !important;
  }
}
.fa-telegram {
  &:hover {
    color: var(--color-telegram) !important;
  }
}
.fa-skype {
  &:hover {
    color: var(--color-skype) !important;
  }
}
.fa-whatsapp {
  &:hover {
    color: var(--color-whatsapp) !important;
  }
}
