$componentName: "wil-new-element";
.#{$componentName}-wrapper {
  --color-facebook: #325d94;
  --color-dribbble: #fb4087;
  --color-twitter: #00aadb;
  --color-instagram: #c13584;
  --color-linkedin: #1686b0;
  --color-youtube: #ff0000;
  --color-pinterest: #cc2127;
  --color-behance: #1769ff;
  --color-github: #333;
  --color-vimeo: #63b3e4;
  --color-soundcloud: #ff7a00;
  --color-tumblr: #35465c;
  --color-twitch: #6441a5;
  --color-vk: #45668e;
  --color-reddit: #ff4500;
  --color-medium: #00ab6c;
  --color-spotify: #1db954;
  --color-discord: #7289da;
  --color-telegram: #0088cc;
  --color-skype: #00aff0;
  --color-whatsapp: #25d366;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.#{$componentName}-wrapper,
.#{$componentName}-wrapper:before,
.#{$componentName}-wrapper:after,
.#{$componentName}-wrapper *,
.#{$componentName}-wrapper *:before,
.#{$componentName}-wrapper *:after {
  box-sizing: border-box;
  letter-spacing: 0 !important;
}
